@use '@/app/styles/helpers' as *;

.effector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  scale: 0.95;
  opacity: 0.05;
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
