@use '@/app/styles/helpers' as *;

:root {
  --color-white: #ffffff;
  --color-light: #fafafa;

  --color-gray-20: #e7ecee;
  --color-gray-10: #6c7b80;

  --color-dark: #1a1f21;

  --color-red-10: #fff0f0;
  --color-red: #db3434;

  --color-shadow: var(--color-gray-20);

  --border: #{rem(1)} solid var(--color-gray-20);

  --section-padding: #{fluid(60, 20)};

  --container-width: #{rem(1600)};
  --container-small-width: #{rem(750)};
  --container-form-width: #{rem(500)};
  --container-padding-x: #{fluid(60, 30)};

  --transition-duration: 0.3s;
  --transition-cubic-beizer: cubic-bezier(0.33, 1, 0.68, 1);
  --view-transition-duration: 0.3s;

  @include tablet {
    --container-padding-x: #{rem(24)};
  }
}

[theme='dark'] {
  --color-white: #000000;
  --color-light: #0c0d0d;

  --color-gray-20: #181a1b;
  --color-gray-10: #798286;

  --color-dark: #d7d9db;

  --color-shadow: #000000;

  --color-red-10: #fff0f0;
  --color-red: #db3434;
}
