@use '@/app/styles/helpers' as *;

.passwordInput {
  display: flex;
  flex-direction: column;
  row-gap: rem(5);
  transition-duration: var(--transition-duration);
  user-select: none;

  &__body {
    position: relative;
  }

  &__button {
    @include square(30);

    position: absolute;
    right: rem(30);
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    padding: rem(15) rem(30);
    padding-right: rem(75);
    border: var(--border);
    background-color: var(--color-white);

    &.invalid {
      border-color: var(--color-red);
      background-color: var(--color-red-10);
    }

    &:focus-visible {
      outline: none;
      border-color: transparent;
    }
  }

  &__label {
    user-select: auto;

    &::after {
      content: '*';
      color: var(--color-red);
      padding-left: rem(5);
    }
  }

  &__error {
    color: var(--color-red);
    align-self: start;
  }
}
