POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=inclare

IGNORE_BUILD_TYPE_ERRORS=false
IMAGE_COMPRESSION=webp # avif or webp

NEXT_PUBLIC_API_URL=http://localhost:5005 # your public api url or domain
CLIENT_URL=http://localhost:3005 # your client url or domain. is needed for cors
API_PORT=5000
API_PUBLIC_PORT=5005 # this port will be set in nginx config in backend proxy_pass
CLIENT_PUBLIC_PORT=3005 # this port will be set in nginx config in frontend proxy_pass

JWT_SECRET=jwt_secret
SECURE_COOKIE=true # true with https, with others false
PASSWORD_SALT_ROUNDS=12
ADMIN_KEYWORD=admin_keyword # keyword that is required in set-admin endpoint

INTERNAL_UPLOADS_LOCATION=internal_uploads # internal nginx location
INTERNAL_CACHE_LOCATION=internal_uploads/cache # internal nginx cache location

NODE_ENV=production
