POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=inclare

IGNORE_BUILD_TYPE_ERRORS=false
IMAGE_COMPRESSION=webp

NEXT_PUBLIC_API_URL=http://localhost:5005
CLIENT_URL=http://localhost:3005
API_PORT=5000
API_PUBLIC_PORT=5005
CLIENT_PUBLIC_PORT=3005

JWT_SECRET=jwt_secret
SECURE_COOKIE=true
PASSWORD_SALT_ROUNDS=12
ADMIN_KEYWORD=admin_keyword

INTERNAL_UPLOADS_LOCATION=internal_uploads
INTERNAL_CACHE_LOCATION=internal_uploads/cache

NODE_ENV=production
