API_URL=http://localhost:5000
NEXT_PUBLIC_API_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000
IGNORE_BUILD_TYPE_ERRORS=false
UNOPTIMIZE_IMAGES=false
JWT_SECRET=jwt_secret # must match secret from backend
IMAGE_COMPRESSION=webp
