@use '@/app/styles/helpers' as *;

.drafts {
  &__placeholder {
    @include abs-center;

    color: var(--color-gray-10);
    font-family: var(--font-family-mono);
    text-align: center;
    width: 100%;
  }

  &__grid {
    --cols: 6;

    width: 100%;
    max-height: 90svh;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    overflow-y: auto;
    padding-top: calc(
      fluid(60, 30) - var(--drafts-header-paddding)
    ); // var is declared in DraftsLayout
    padding-inline: var(--container-padding-x);
    padding-bottom: fluid(200, 100);

    @include laptop {
      --cols: 5;
    }

    @include tablet {
      --cols: 4;
    }

    @include mobile {
      --cols: 3;
    }

    @include mobile-s {
      --cols: 2;
    }
  }

  &__item {
    transform: scale(1.02);
    transition-duration: var(--transition-duration);

    @include hover {
      transform: scale(1.07) rotate(0) !important;
    }
  }
}
