CLIENT_URL=http://localhost:3000
API_PORT=5000
NODE_ENV=development
SECURE_COOKIE=false
JWT_SECRET=jwt_secret
PASSWORD_SALT_ROUNDS=12
IMAGE_COMPRESSION=webp
DATABASE_URL=postgresql://postgres:123456@localhost:5432/inclare?schema=public
REDIS_URL=redis://localhost:6379
INTERNAL_UPLOADS_LOCATION=internal_uploads
INTERNAL_CACHE_LOCATION=internal_uploads/cache
ADMIN_KEYWORD=admin_keyword
