@use '@/app/styles/helpers' as *;

.modal {
  z-index: 1000;
  position: absolute;
  opacity: 0;
  will-change: filter, opacity;
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
  background-color: var(--color-white);
  border: var(--border);
  padding: fluid(20, 10);
  pointer-events: none;
  width: max-content;

  &.open {
    pointer-events: unset;
  }

  &__wrapper {
    position: relative;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
  }
}
