@use '@/app/styles/helpers' as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: fluid(15, 10) fluid(60, 30);
  background-color: var(--color-light);
  border-bottom: var(--border);
  z-index: 1000;

  &__logo {
    width: fit-content;
    height: fluid(25, 20);
    align-items: start;
    align-self: start;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: rem(15);
    align-items: center;
  }

  &__splitter {
    height: fluid(15, 10);
    width: rem(1);
    background-color: var(--color-gray-10);
  }
}
