@use '@/app/styles/helpers' as *;

.actions {
  display: flex;
  flex-direction: row;
  column-gap: fluid(10, 5);
  padding-inline: var(--container-padding-x);
  align-items: start;
  align-self: start;
}
