@use '@/app/styles/helpers' as *;

.toggle {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;

  --switch-size: #{fluid(20, 15)};
  --padding: #{fluid(10, 5)};

  &__button {
    width: fluid(80, 60);
    height: calc(var(--switch-size) + var(--padding) * 2);
    background-color: var(--color-white);
    border: var(--border);
    position: relative;
  }

  &__switch {
    @include square(var(--switch-size));

    background-color: var(--color-gray-20);
    transition-duration: var(--transition-duration);
    position: absolute;
    top: var(--padding);
    left: var(--padding);

    &.toggled {
      background-color: var(--color-dark);
      left: calc(100% - var(--switch-size) - var(--padding));
    }
  }
}
