@use '@/app/styles/helpers' as *;

.skeleton {
  background-color: var(--color-gray-20);
}

.avatar {
  object-fit: cover;

  &__button {
    width: fit-content;
    height: fit-content;
  }

  &__expanded {
    position: absolute;
  }
}
