@use '@/app/styles/helpers' as *;

.block {
  @include fluid-text(250, 150);

  position: fixed;
  pointer-events: none;
  user-select: none;
  filter: blur(10);
  transform: scaleY(2);
  z-index: -1000;
  animation: fade-in var(--transition-duration) var(--transition-cubic-beizer)
    forwards;

  &.top-left {
    top: -3%;
    left: -3%;
  }

  &.top-right {
    top: -3%;
    right: -3%;
  }

  &.bottom-left {
    bottom: 10%;
    left: -3%;

    @include mobile {
      bottom: 0%;
    }
  }

  &.bottom-right {
    bottom: 10%;
    right: -3%;

    @include mobile {
      bottom: 0%;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
