@use '@/app/styles/helpers' as *;

.bio {
  display: flex;
  flex-direction: column;
  gap: fluid(30, 20);
  align-items: center;
  align-self: center;
  padding-inline: var(--container-padding-x);

  @include min-vertical {
    flex-direction: row;
  }

  &__avatar {
    --size: #{fluid(120, 100)};

    @include square(var(--size));

    @include min-vertical {
      --size: #{fluid(90, 70)};
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(10, 5);
    text-align: center;
    max-width: rem(700);
    overflow-wrap: anywhere;
    word-break: normal;

    @include min-vertical {
      align-items: start;
    }
  }
}
