@use '@/app/styles/helpers' as *;

.layout {
  &.plane {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__main {
    display: flex;
    flex-direction: column;

    &:not(.plane) {
      row-gap: var(--section-padding);
      padding-block: var(--section-padding);
    }

    &.profile {
      height: 95vh;
      justify-content: space-between;
      padding-block: calc(var(--section-padding) * 1.5);
    }

    &.settings {
      row-gap: fluid(30, 20);
    }
  }
}
