@use '@/app/styles/helpers' as *;

.block {
  @include fluid-text(250, 150);

  --padding: #{rem(30)};

  position: absolute;
  pointer-events: none;
  user-select: none;
  filter: blur(10);
  transform: scaleY(2);
  z-index: -1000;
  animation: fade-in var(--transition-duration) var(--transition-cubic-beizer)
    forwards;
  padding: var(--padding);

  &.top-left {
    top: -3%;
    left: -3%;
    top: calc(-3% - var(--padding));
    left: calc(-3% - var(--padding));
  }

  &.top-right {
    top: calc(-3% - var(--padding));
    right: calc(-3% - var(--padding));
  }

  &.bottom-left {
    bottom: calc(var(--padding) * -1);
    left: calc(-3% - var(--padding));
  }

  &.bottom-right {
    bottom: calc(var(--padding) * -1);
    right: calc(-3% - var(--padding));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
