@use '@/app/styles/helpers' as *;

.notFound {
  @include abs-center;

  display: flex;
  flex-direction: row;
  gap: fluid(60, 40);
  caret-color: transparent;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: fluid(30, 20);
    align-items: start;

    @include mobile {
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fluid(10, 5);

    @include mobile {
      align-items: center;
    }
  }

  &__logo {
    height: fluid(200, 120);
  }

  &__title {
    @include fluid-text(150, 100);

    font-family: var(--font-family-mono);
  }

  &__description {
    font-family: var(--font-family-mono);
    color: var(--color-gray-10);
  }
}
