@use '@/app/styles/helpers' as *;

.photo {
  --photo-padding: #{fluid(10, 7)};
  --photo-padding-bottom: #{fluid(50, 35)};

  background-color: var(--color-white);
  box-shadow: 0 0 rem(30) 0 var(--color-shadow);
  aspect-ratio: 3 / 4;
  width: fluid(260, 170);
  padding: fluid(10, 7);
  padding-bottom: fluid(50, 35);
  user-select: none;
  overflow: hidden;
  display: flex;
  position: relative;

  &.vertical {
    --photo-padding: #{vertical-fluid(10, 5)};
    --photo-padding-bottom: #{fluid(50, 25)};
    width: vertical-fluid(280, 140);
  }

  &.mini {
    --photo-padding: #{fluid(7, 5)};
    --photo-padding-bottom: #{fluid(35, 25)};

    box-shadow: none;
    border: var(--border);
    width: fluid(185, 125);
    padding: fluid(7, 5);
    padding-bottom: fluid(35, 25);

    &.vertical {
      --photo-padding: #{vertical-fluid(7, 3)};
      --photo-padding-bottom: #{fluid(35, 15)};
      width: vertical-fluid(185, 125);
    }
  }

  &__inner {
    // without position: absolute safari would set content height to photo container height (literally 100%)
    position: absolute;
    top: var(--photo-padding);
    left: var(--photo-padding);
    right: var(--photo-padding);
    bottom: var(--photo-padding-bottom);
  }
}
