@use '@/app/styles/helpers' as *;

.photo {
  background-color: var(--color-white);
  box-shadow: 0 0 rem(30) 0 var(--color-gray-20);
  aspect-ratio: 3 / 4;
  width: fluid(260, 170);
  padding: fluid(10, 7);
  padding-bottom: fluid(50, 35);
  user-select: none;
  overflow: hidden;
  display: flex;

  &.mini {
    box-shadow: none;
    border: var(--border);
    width: fluid(185, 125);
    padding: fluid(7, 5);
    padding-bottom: fluid(35, 25);
  }
}
