@use '@/app/styles/helpers' as *;

.modal {
  z-index: 3000;
  position: absolute;
  opacity: 0;
  will-change: filter, opacity;
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
  background-color: var(--color-white);
  border: var(--border);
  padding: fluid(20, 10);
  pointer-events: none;
  min-width: rem(250);
  width: max-content;
  max-width: 70vw;

  &.open {
    pointer-events: unset;
  }

  &__wrapper {
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(10, 5);
    align-items: center;
    text-align: center;
  }

  &__description {
    color: var(--color-gray-10);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
  }
}
