@use '@/app/styles/helpers' as *;

.me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: var(--section-padding);
  padding-inline: var(--container-padding-x);
  padding-right: fluid(30, 20);
  border-right: var(--border);

  @include mobile {
    width: 100%;
    background-color: var(--color-light);
    z-index: 1000;
    border-right: none;
    border-top: var(--border);
    flex-direction: row;
    padding-block: fluid(30, 20);
  }

  @include mobile-s {
    flex-direction: column;
    align-items: start;
    row-gap: rem(10);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: fluid(20, 10);

    @include mobile {
      flex-direction: row;
      align-items: center;
    }
  }

  &__avatar {
    @include square(fluid(120, 100));

    @include mobile {
      @include square(fluid(50, 30));
    }
  }

  &__role {
    color: var(--color-gray-10);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
  }
}
