@use '@/app/styles/helpers' as *;

.drafts {
  --drafts-header-paddding: #{fluid(20, 10)};

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  height: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;

  &__header {
    padding-block: var(--drafts-header-paddding);
  }
}
